


.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #43373D;
}

.nav-alt-color {
    color: #43373D !important;
}

button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    background-color: #1c1c1c;
    background-image: none;
}